body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(90deg, gray, brown);
  color: aquamarine;
  width: 100%;
  height: 100vh;
}
.booklist {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}
.book-card {
  border: 2px solid white;
  height: 20rem;
  min-width: 18rem;
  text-align: center;
}
/* SPINNY REACT LOGO INNIT */
.scaler {
  animation: scaler 4s infinite linear;
}
.img-spin {
  width: 512px;
  height: 512px;
  animation: spinny-boi 20s infinite linear;
}

/* KEYFRAMES  */
@keyframes spinny-boi {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@keyframes scaler {
  0% {
    transform: scale(90%);
  }

  33% {
    transform: scale(110%);
  }
  66% {
    transform: scale(100%);
  }

  100% {
    transform: scale(90%);
  }
}
